
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial Black', sans-serif;
        }

        body {
            height: 100vh;
            overflow: hidden;
            background: 
                linear-gradient(to right, rgba(255, 123, 0, 0.6) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.8) 100%),
                url(/img/background.jpg) no-repeat center center;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 8%;
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 20;
        }

        .logo {
            color: #ffffff;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 100px;
        }

        nav ul li a {
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
        }

      
        .container {
            display: flex;
            height: 100vh;
            width: 100%;
            align-items: flex-end;
        }

       
        .image-side {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: flex-end;
          
            
        }

        .image-side img {
            height: 100%;
            width: 800px;
            object-fit: contain;
            filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.2));
            
        }

        .text-side {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-right: 5%;
            z-index: 15;
        }

        .hero-text h1 {
            font-size: 3.5rem;
            color: #ffffff;
            line-height: 1.1;
            text-transform: uppercase;
        }

        .hero-text h1 span {
            color: #ff9900;
        }

        .watch-btn {
            margin-top: 20px;
            background: #ff9900;
            color: white;
            border: none;
            padding: 12px 50px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        .watch-btn:hover {
            background: #e68a00;
            transform: scale(1.05);
        }

        .bottom-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, rgba(255, 123, 0, 0.8), transparent);
            z-index: 5;
        }
